# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/
.env/
# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# OS files
.DS_Store
Thumbs.db

# Python environment files
*.env
*.venv
.env/
.venv/

# Package distribution
build/
dist/
*.egg-info/

# Cache files
*.pyc
.cache/
